<% extend('../layout/index.ejs') %>

<div class="container">
    <div class="row mt-5 mb-2">
        <div class="col-md-12">
            <h1>Store name: <%= store.name %></h1>
            <p>Products</p>
            <a href="/products/<%= store.id %>/create">
                <button class="btn btn-primary">Create</button>
            </a>
            <a href="/orders/<%= store.UserId %>/user"> Keranjang</a>
            <a href="/orders/<%= store.UserId %>/seller"> List Orderan</a>
        </div>
        <div class="col-md-12 mt-2">
            <form action="/products/<%= store.id %>/store" method="get">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/products/<%= store.id %>/create">
                    <button class="btn btn-primary">Cancel</button>
                </a>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((product, index) => { %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.stock %></td>
                <td>
                    <a href="/products/<%= product.id %>/edit" class="btn btn-primary">Edit</a>
                    <a href="/products/<%= product.id %>/delete" class="btn btn-danger">Delete</a>
                    <a href="/orders/<%= product.id %>/2/order" class="btn btn-info">Order</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>